p.category{
    color: #FFFFFF;
    background-color: #AAA; /* 背景顏色 */
    /* padding: 2px; */ /* 內邊距 */
    border-radius: 5px; /* 圓角邊框 */
    padding-right: 1em;
}
footer{
    background-image: none;
}
